<div class="withLeftSide">
    <div class="headerSection">
        <div class="headerTitleSection">Client Communication Dashboard</div>
        <div class="pull-right margin-right-1 m-t-2 createBtn" (click)="createTask()">
          Create Task
        </div>
    </div>
    <div class="workArea">
        <div class="dashboardSpace">
            <div *ngFor="let taskMap of tasksByStatusMap | keyvalue:originalOrder ;
            let parentIndex = index;let first = first;let last = last" class="dashboardPillar">
                <div class="pillarHeader {{taskMap.key}}">
                    <label>{{taskMap.key}}</label>
                </div>
                <div class="pillarBody">
                    <div class="pillarCard pillarCard{{parentIndex}} pillarCard{{parentIndex}}{{childIndex}}"
                        *ngFor="let task of taskMap.value;let childIndex = index;">
                        <div *ngIf="!last" (click)="changePosition('next', taskMap.key, childIndex)"
                            class="pillarCardRightArrow">
                            <mat-icon>arrow_forward</mat-icon>
                        </div>
                        <div *ngIf="!first" (click)="changePosition('previous', taskMap.key, childIndex)"
                            class="pillarCardLeftArrow">
                            <mat-icon>arrow_back</mat-icon>
                        </div>
                        {{task.title}}<br>
                        <p><u>Project</u>:&nbsp;{{task.project}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>