.navLogo {
    display: inline-block;
    width: 61%;
    height: 8%;
    margin-left: 16%;
    margin-top: 10%;
    background-image: url("../../assets/navLogo.PNG");
    font-size: xxx-large;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    animation: rotation 3s 1 linear;

    /* display: inline-block;
    margin-top: 13%;
    margin-left: 18%;
    color: white;
    font-weight: bolder */
}

.navMenu {
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 10px 10px 10px 10px;
    height: 98%;
    width: 9%;
    background-color: #6e41a6;
    clear: right;
    position: fixed;
    box-shadow: 5px 0px rgba(5, 5, 5, 0.35);
}