<div class="navMenu">
    <div class="navLogo"></div>
    <div class="navMenuSection">
        <div class="navMenuItem" (click)="clickOnLink('home')">
            <mat-icon class="inlineBlocks">home</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">Home</a>
        </div><!-- TODO: remove Duplicate code -->
        <div *ngFor="let menu of menuJson" class="navMenuItem"
            (mouseenter)="mouseAction(menu.menuId, $event, 'onHover')"
            (mouseleave)="mouseAction(menu.menuId, $event, 'onLeave')">
            <mat-icon class="inlineBlocks">{{menu.icon}}</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">{{menu.menuName}}</a>
            <mat-icon class="inlineBlocks {{menu.menuId}}DownArrowClass">keyboard_arrow_down</mat-icon>
            <mat-icon class="inlineBlocks {{menu.menuId}}UpArrowClass">keyboard_arrow_up</mat-icon><br>

            <div class="subMenu {{menu.menuId}}SubMenu" style="display: none;">
                <div *ngFor="let childMenu of menu.subMenu" class="p-t-2 p-b-12">
                    <a class="subMenuNavMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink(childMenu.path)">{{childMenu.menuName}}</a>
                </div>
            </div>
        </div>
        <!-- <div class="navMenuItem" (mouseenter)="mouseAction('client',$event,'onHover')"
            (mouseleave)="mouseAction('client',$event,'onLeave')">
            <mat-icon class="inlineBlocks">perm_identity</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">Client</a>
            <mat-icon class="inlineBlocks clientDownArrowClass">keyboard_arrow_down</mat-icon>
            <mat-icon class="inlineBlocks clientUpArrowClass">keyboard_arrow_up</mat-icon><br>

            <div class="subMenu clientSubMenu" style="display: none;">
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('createClient')">Create Client</a></div><br>
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('searchClient')">Search Client</a></div>
            </div>
        </div>
        <div class="navMenuItem" (mouseenter)="mouseAction('project',$event,'onHover')"
            (mouseleave)="mouseAction('project',$event,'onLeave')">
            <mat-icon class="inlineBlocks">folder</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">Project</a>
            <mat-icon class="inlineBlocks projectDownArrowClass">keyboard_arrow_down</mat-icon>
            <mat-icon class="inlineBlocks projectUpArrowClass">keyboard_arrow_up</mat-icon><br>

            <div class="subMenu projectSubMenu" style="display: none;">
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('createProject')">Create Project</a></div><br>
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('searchProject')">Search Project</a></div>
            </div>
        </div>
        <div class="navMenuItem" (mouseenter)="mouseAction('clientLead',$event,'onHover')"
            (mouseleave)="mouseAction('clientLead',$event,'onLeave')">
            <mat-icon class="inlineBlocks">person</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">Client Lead</a>
            <mat-icon class="inlineBlocks clientLeadDownArrowClass">keyboard_arrow_down</mat-icon>
            <mat-icon class="inlineBlocks clientLeadUpArrowClass">keyboard_arrow_up</mat-icon><br>

            <div class="subMenu clientLeadSubMenu" style="display: none;">
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('createLead')">Create Client Lead</a></div><br>
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('searchLead')">Search Client Lead</a></div>
            </div>
        </div>
        <div class="navMenuItem" (mouseenter)="mouseAction('dashboard',$event,'onHover')"
            (mouseleave)="mouseAction('dashboard',$event,'onLeave')">
            <mat-icon class="inlineBlocks">dashboard</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">Dashboard</a>
            <mat-icon class="inlineBlocks dashboardDownArrowClass">keyboard_arrow_down</mat-icon>
            <mat-icon class="inlineBlocks dashboardUpArrowClass">keyboard_arrow_up</mat-icon><br>

            <div class="subMenu dashboardSubMenu" style="display: none;">
                <div class="p-t-2 p-b-12"><a class="navMenuLink navMenuItem" title="Client Communication Dashboard"
                        href="javascript:void(0)" (click)="clickOnLink('clientCommunicationDashboard')">Client
                        Communication Dashboard</a></div><br>
                <div class="p-t-2 p-b-12"><a class="navMenuLink" href="javascript:void(0)"
                        (click)="clickOnLink('designDashboard')">Design Dashboard</a></div>
            </div>
        </div> -->
        <div class="navMenuItem" (click)="clickOnLink('aboutUs')">
            <mat-icon class="inlineBlocks">tag_faces</mat-icon>
            <a class="navMenuLink" href="javascript:void(0)">About Us</a>
        </div>
    </div>
</div>