<div class="withLeftSide">
    <div class="headerSection">
        <div class="headerTitleSection">Customer Relationship Management</div>
        <div>
            <mat-icon></mat-icon>
        </div> 
    </div>
    <div class="">
        <div class="menuItem" *ngFor="let menu of menuConfiguration">
            <div class="menuHeader">{{menu.menuName}}</div>
            <div class="menuLinks" *ngFor="let subMenu of menu.subMenu" (click)="onLinkClick(subMenu)">
                <a href="javascript:void(0)" >{{subMenu.menuName}}</a>
            </div>
        </div>
    </div>
</div>