<div class="withLeftSide">
    <div class="headerSection">
        <div class="headerTitleSection">Create Client Lead</div>
    </div>
    <div class="workArea">
        <form [formGroup]="clientForm" class="formSection">
            <div class="row">
                <div class="formElement">
                    <div>
                        <mat-icon class="h-21px">person</mat-icon>
                        <label for="UserName">First Name</label>
                        <span class="mandatory"></span>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element class="fname" dataUI="text" for="fname" required name="fname" id="fname"
                            ngDefaultControl [customFormControl]="clientForm.get('fname')"
                            (ngModelChangeEvent)="onNgModelChange($event)">
                        </app-common-element><br>
                    </div>
                </div>
                <div class="formElement">
                    <div>
                        <mat-icon class="h-21px">person</mat-icon>
                        <label for="LastName">Last Name</label>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element class="lname" dataUI="text" for="lastName" id="lname" name="lname"
                            id="lname" [customFormControl]="clientForm.get('lname')"
                            (ngModelChangeEvent)="onNgModelChange($event)">
                        </app-common-element><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="formElement">

                    <div>
                        <mat-icon class="h-21px"> phone</mat-icon>
                        <label for="ContactNo">Contact No</label>
                        <span class="mandatory"></span>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element class="phoneNo" dataUI="number" for="contactNo" id="contactNo"
                            [customFormControl]="clientForm.get('contactNo')" name="contactNo"
                            (ngModelChangeEvent)="onNgModelChange($event)">
                        </app-common-element><br>
                    </div>
                </div>
                <div class="formElement">
                    <div>
                        <mat-icon class="h-21px"> email</mat-icon>
                        <label for="Email">Email Address</label>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element dataUI="text" for="email" id="email" class="email" name="email"
                            (ngModelChangeEvent)="onNgModelChange($event)"
                            [customFormControl]="clientForm.get('email')"></app-common-element><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- use different Class compare to other because of coustom implementation of select box
            NOTE:- MUST USE BELOW CLASS FOR DROP DOWN -->
                <div class="clientFormSelectElement">
                    <div>
                        <mat-icon class="h-21px">gps_fixed</mat-icon>
                        <label for="country">Country</label>
                        <span class="mandatory"></span>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element dataUI="select" for="country" id="country" name="country"
                            [customFormControl]="clientForm.get('country')"
                            (ngModelChangeEvent)="onNgModelChange($event)"
                            [options]='countryOptions'></app-common-element>
                        <br>
                    </div>
                </div>
                <div class="clientFormSelectElement padding-left10">
                    <div>
                        <mat-icon class="h-21px">gps_fixed</mat-icon>
                        <label for="state">State</label>
                        <span class="mandatory"></span>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element dataUI="select" for="state" id="state" name="state"
                            [customFormControl]="clientForm.get('state')" (ngModelChangeEvent)="onNgModelChange($event)"
                            [options]='stateOptions'></app-common-element>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- After DropDown Needed padding used, other wise not set elements in certen line-->
                <div class="formElement">
                    <div>
                        <mat-icon class="h-21px">location_on</mat-icon>
                        <label for="Email">City</label>
                        <span class="mandatory"></span>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element class="city" (ngModelChangeEvent)="onNgModelChange($event)" required
                            dataUI="text" name="city" for="city" id="city" [customFormControl]="clientForm.get('city')">
                        </app-common-element>
                        <br>
                    </div>
                </div>
                <div class="formElement height-10 padding-left10">
                    <div>
                        <mat-icon class="h-21px">how_to_reg</mat-icon>
                        <label for="lead source">Lead Source</label>
                        <span class="mandatory"></span>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element dataUI="select" for="leadSource" id="leadSource" name="leadSource"
                            [customFormControl]="clientForm.get('leadSource')"
                            (ngModelChangeEvent)="onNgModelChange($event)" [options]='leadSource'></app-common-element>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="formElement padding-1">
                    <div>
                        <mat-icon class="h-21px">comment</mat-icon>
                        <label for="Requirements">Requirements</label>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element dataUI="textArea" for="requirements" class="comments" for="comments"
                            name="comments" id="comments" (ngModelChangeEvent)="onNgModelChange($event)"
                            [customFormControl]="clientForm.get('comments')"></app-common-element>
                    </div>
                </div>
                <div class="formElement padding-1">
                    <div>
                        <mat-icon class="h-21px">date_range</mat-icon>
                        <label for="nextDate">Next Date</label>
                    </div>
                    <div class="max-HeightWidth">
                        <app-common-element dataUI="date" for="nextDate" class="nextDate" name="nextDate" id="nextDate"
                            [customFormControl]="clientForm.get('nextDate')"></app-common-element><br>
                    </div>
                </div>
            </div>
            <div class="float-left width60 m-t-4 m-l-40">
                <a class="buttonClass submitButton removeBoxShodaw blockButton p-2"
                 [ngClass]="{'greenBackground buttonClass': clientForm.valid,
                                'redBackground removePointer': !clientForm.valid }"
                    (click)="onClick('submit')">Submit</a>
                <a class="buttonClass submitButton removeBoxShodaw blockButton p- m-l-2"
                 [ngClass]="{'greenBackground buttonClass': clientForm.valid,
                                'redBackground removePointer': !clientForm.valid }" (click)="onClick('submitAndNext')">
                    <mat-icon class="h-18px">keyboard_arrow_right</mat-icon>
                </a>
                <a class="buttonClass  blockButton redBackground p-2 borderRadius-10px m-l-2"
                    (click)="onClick('cancel')">Reset</a>
            </div>

        </form>
    </div>
</div>