<div class="withLeftSide">
    <div class="headerSection">
        <div class="headerTitleSection">Search Client Lead</div>
    </div>
    <div class="searchBlankCriteria criteriaSection" (click)="onActionClick('blackCriteriaClick')">
        <div class="col-t-01 col-lg-10  ">&nbsp;</div>
        <div><button class="blankCriteriaSearchButton">Advance Search</button></div>
    </div>
    <div class="searchCriteria criteriaSection">
        <div class="col-t-01 col-lg-10  ">&nbsp;</div>
        <div class="clientSearchElement">
            <div>
                <!-- <mat-icon class="h-21px">person</mat-icon> -->
                <label for="firstName">First Name</label>
            </div>
            <div class="">
                <app-common-element class="fname" [(ngModel)]="this.lead.fname" dataUI="text" for="fname" name="fname"
                    id="fname" ngDefaultControl (ngModelChange)="ngModelChange()">
                </app-common-element><br>
            </div>
        </div>
        <div class="clientSearchElement">
            <div>
                <!-- <mat-icon class="h-21px">person</mat-icon> -->
                <label for="contactNo">Contact No</label>
            </div>
            <div class="">
                <app-common-element class="phoneNo" [(ngModel)]="this.lead.contactNo" dataUI="number" for="contactNo"
                    id="contactNo" ngDefaultControl name="contactNo" (ngModelChange)="ngModelChange()">
                </app-common-element><br>
            </div>
        </div>
        <div class="clientSearchElement">
            <div>
                <!-- <mat-icon class="h-21px">person</mat-icon> -->
                <label for="city">City</label>
            </div>
            <div class="">
                <app-common-element class="city" [(ngModel)]="this.lead.city" (ngModelChange)="ngModelChange()"
                    dataUI="text" name="city" for="city" id="city" ngDefaultControl>
                </app-common-element>
            </div>
        </div>
        <div class="clientSearchElement">
            <div>
                <!-- <mat-icon class="h-21px">person</mat-icon> -->
                <label for="leadSource">Lead Source</label>
            </div>
            <div class="">
                <app-common-element dataUI="select" for="leadSource" id="leadSource" name="leadSource" ngDefaultControl
                    [(ngModel)]="this.lead.leadSource" (ngModelChange)="ngModelChange()" [options]='leadSource'>
                </app-common-element>

            </div>
        </div>
        <div (click)="onCloseSection()" class="closeIcon pull-right m-r-1px">
            <mat-icon>close</mat-icon>
        </div>
        <div class="clientSearchElement h-24">
            <div>
                <label for="UserName">Next Date</label>
            </div>
            <div class="">
                <app-common-element dataUI="date" for="nextDate"></app-common-element><br>
            </div>
        </div>
        <div class="m-l-93 m-t-11_5">
            <button class=" primaryButton">Search</button>
        </div>
    </div>
    <div class="workArea searchScreen">
        <div class="quickSearchSection">
            <app-common-element placeholderText="Quick Search..." dataUI="text" for="quickSearch" [(ngModel)]="quickSearch"></app-common-element>
        </div>
        <div>
            <table class="tableClass">
                <thead>
                    <tr class="gridHeader">
                        <th>FirstName</th>
                        <th>Contact Number</th>
                        <th>City</th>
                        <th>Lead Source</th>
                        <th>Next Date</th>
                        <th>Requirements</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gridRow" *ngFor="let item of grid">
                        <td>{{item.firstName}}</td>
                        <td>{{item.contactNumber}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.leadSource}}</td>
                        <td>{{item.nextDate}}</td>
                        <td>{{item.requirements}}</td>
                        <td>
                            <mat-icon class="tableActionButtons" (click)="onActionClick('edit')">edit</mat-icon>&nbsp;
                            <mat-icon class="tableActionButtons" (click)="onActionClick('delete')">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>